<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
      <!-- Navbar content -->
        <div class="container">
          <a class="navbar-brand" routerLink="/"> Accueil </a>
          <a class="navbar-brand" routerLink="/personne"> Personne </a>
          <a class="navbar-brand" routerLink="/adresse"> Personne </a>
        </div>
      </nav>
    <router-outlet></router-outlet>
</body>
</html>
