<div class="container">
  <div class="login-form">
    <h5>Connectez vous : Cheikh Tidiane </h5>
        <div [hidden]="submitted">
          <h3>Mon formulaire</h3>
          <form #monForm=ngForm (ngSubmit)=ajouterPersonne()>
          <div>
          Nom : <input type=text name=nom [(ngModel)]=nom required #lastName="ngModel">
          </div>
          <br>
          <div [hidden]="lastName.valid" class="alert alert-danger">
          Le nom est obligatoire
          </div>
          <div>
          Prenom : <input type=text name=prenom [(ngModel)]=prenom required
          #firstName="ngModel">
          </div>
          <div [hidden]="firstName.valid" >
          Le prénom est obligatoire
          </div>
          <div>
            <br>
          <button [disabled]=!monForm.valid>
          ajouter
          </button>
          </div>
          </form>
          </div>
      <div [hidden]="!submitted">Personne ajoutée</div>
  </div>
</div>

<!-- <div class="container">
  <div class="login-form">
    <h2>Connexion</h2>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"  required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password"  required>
      </div>
      <button type="submit">Se connecter</button>
    </form>
  </div>
</div> -->



