<!-- <div class="container">
  <div class="login-form">
    <h2>Connexion</h2>
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email"  required>
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" id="password" name="password"  required>
      </div>
      <button type="submit">Se connecter</button>
    </form>
  </div>
</div> -->

<!-- <form #monForm=ngForm (ngSubmit)=ajouterPersonne()>
  <div>
  Nom : <input type=text name=nom [(ngModel)]=personnes.nom required #lastName="ngModel">
  </div>
  <div [hidden]="lastName.valid">
  Le nom est obligatoire
  </div>
  <div>
  Prénom : <input type=text name=prenom [(ngModel)]=personnes.prenom required #firstName="ngModel">
  </div>
  <div [hidden]="firstName.valid">
  Le prénom est obligatoire
  </div>
  <div>
  <button [disabled]=!monForm.valid>
  Ajouter
  </button>
  </div>
  </form> -->
